.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    border: solid 1px #bebebe;
    border-radius: 5px;
    background-color: white;
}

.sort p {
    margin: 0;
}

.analyticsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;
}

.analyticsHeader p {
    font-size: 1rem;
}

.analyticsHeader p:first-child {
    font-weight: bold;
}

.analyticsHeader p:nth-child(2) {
    color: #424242;
}

.cardList {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.cardList li {
    list-style: none;
    border: solid 1px #bebebe;
    border-radius: 5px;
    padding: 15px;
    min-width: 320px;
    background-color: white;
}

.cardList li p {
    margin: 0;
}

.cardList li div {
    display: flex;
    justify-content: space-between;
}

.chartSummary {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.chartSummary div {
    border: solid 1px #bebebe;
    border-radius: 5px;
    background-color: white;
    padding: 15px 20px;
}

.chartSummary div:nth-child(1) {
    height: 100%;
}

.chartSummary div:nth-child(1) h1 {
    margin: 0;
    text-align: start;
    padding: 20px;
}

.chartSummary div:nth-child(2) {
    text-align: start;
}

.chartSummary div:nth-child(2) h1,
p {
    margin: 0;
}

.chartSummary div:nth-child(2) h1 {
    font-weight: bold;
}

.chartSummary div:nth-child(2) ul {
    padding: 0;
}

.chartSummary div:nth-child(2) li {
    width: 210px;
    overflow-wrap: break-word;
    padding: 5px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.chartSummary div:nth-child(2) li p:nth-child(1) {
    font-weight: bold;
}

.chartSummary div:nth-child(2) li p:nth-child(2) {
    color: #424242;
}