.searchTextField {
    /* Add styles for the search TextField here */
    /* For example: */
    width: 500px;
    padding-left: 19px;
    text-align: center;

}
.inviteTextField {
    /* Add styles for the invite TextField here */
    /* For example: */
    width: 300px;
    border-radius: 0px;
    padding-left: 19px;
}
.inviteButton {
    width: 120px;
    height: 53px;
    border-radius: 0px;
}

  

